.profile_container{
    background-color: white;
    border-radius: 10px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.profile_color{
    display: flex;
    height: 50px;
    border-radius: 10px 10px 0 0;

}

.profile_subContainer{
    flex-direction: column;
    display: flex;
    flex: 0.5;
    background-color: white;
    width: 600px;
    padding: 0.8rem;
    border-radius: 8px;
}

.profile_avatar{
    margin: 0.8rem;
}

.profile_infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.profile_change{
    display:flex;
    justify-content: flex-end;
    padding: 2rem;
    flex: 0.3;
}

.profile_change_button{
    cursor: pointer;
    border: none;
    padding: 0.7rem;
    border-radius: 8px;
    box-shadow: 5px 5px 10  px rgba(0,0,0,0.1);
    outline: none;

    background-color: #2d3436;
    color: #fff;
    
}

.profile_change_button:hover{
    background-color: #636e72;
    color:#fff ;
}